{% extends 'base.html' %}
{% block title %} Панель администратора {% endblock %}

{% block body %}

<h1>Панель администратора</h1>

<a href="/admin/new-user" class="btn">Добавить нового пользователя</a>

{%for ser_num, user in user_list_admin_page%}
<h3>{{user}}</h3>

Этот пользователь имеет доступ к следующим АКЭС:
{%for number in ser_num%}
<p>

<form action="/admin/delete-serial-number" method="POST">
    {{number}}
    <input type="hidden" name="delete_sernum" value="{{user, number}}">
    <input type="submit" class="btn btn-dark" value="Удалить">
</form>
{% endfor %}
<button style="background-color: green" onclick="var h = document.getElementById('{{user}}'); if(h.style.display=='none') {h.style.display = '';} else {h.style.display = 'none';}">+</button>
<form method="post" class="form-contact">
    <div style="display: none" id="{{user}}">
        Введите серийный номер:
        <input type="text" name="ser_num" value="" />
        <input style="display: none" type="text" name="user" value="{{user}}" />
        <input type="submit" value="Создать" />
    </div>
</form>
{% endfor %}


<p><a href="/logout">Выйти из профиля</a>
{% endblock %}

