{% extends 'base.html' %}
{% block title %} Создать нового пользователя {% endblock %}

{% block body %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Мониторинг комплекса энергосбережения</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/logout" class="nav-link">Выйти</a></li>
        </ul>
    </header>
    <h5>Задайте логин и пароль для нового пользователя:</h5>
    <form method="post" class="form-contact">
        <div class="row p-1">

            <div class="col-3">
                <input class="form-control" placeholder="Логин" type="text" name="new_login" value=""/>
            </div>
        </div>
        <div class="row  p-1">

            <div class="col-3">
                <input class="form-control" placeholder="Пароль" type="text" name="psw" value=""/>
            </div>
        </div>


        <h5 class="pt-3 pb-1">Введите серийный номер АКЭС:</h5>
        <div class="row">
            <div class="col-3 pb-3">

                <input type="text" name="serial_number" class="form-control" placeholder="Номер АКЭС" value=""/>

            </div>
        </div>

        <p><input class="btn btn-success" type="submit" value="Создать"/>
        <hr align=left width="300px">
    </form>
</div>

{% endblock %}