{% extends 'base.html' %}
{% block title %} Доступные АКЭС {% endblock %}

{% block body %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Мониторинг комплекса энергосбережения</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/logout" class="nav-link">Выйти</a></li>
      </ul>
    </header>
<h3>Здравствуйте, {{username}}!</h3>
<p>
Доступные АКЭС:
    {%for serial_num in serial_numbers%}
  <div class="row border">

    <div class="col-8">
      <div class="fs-3 p-3">{{serial_num}}</div>
    </div>
    <div class="col-4 p-3 ">
      <a href="/aesc/{{serial_num}}" type="button" class="btn btn-primary btn-lg">Посмотреть информацию</a>
    </div>

  </div>
    {% endfor %}
</div>





</div>
{% endblock %}



